<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libjpeg.redist" version="9.0.1.4" targetFramework="native" />
  <package id="libpng.redist" version="1.6.19.1" targetFramework="native" />
  <package id="libtiff.redist" version="4.0.6.2" targetFramework="native" />
  <package id="libwebp.v140.redist" version="0.5.0.1" targetFramework="native" />
  <package id="sdl2.v140" version="2.0.4" targetFramework="native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="native" />
  <package id="sdl2_image.v140" version="2.0.1" targetFramework="native" />
  <package id="sdl2_image.v140.redist" version="2.0.1" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>